<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>< The Tech Blog ></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Anek+Odia&family=Poppins:wght@300&family=Titillium+Web&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <h1><span><</span> The Tech Blog <span>/></span></h1>
  <nav>
    {{#if loggedIn}}
    <button id="logout">Logout</button>
    <a href="/dashboard">Dashboard</a>
    {{else}}
    <a href="/signup">Sign Up</a>
    <a href="/login">Login</a>
    {{/if}}
    <a href="/">Home</a>
  </nav>
  </header>
  {{{ body }}}
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>