<h1 class="page-header">&#187 Dashboard</h1>
{{ isLoggedIn loggedIn }}
{{#if loggedIn}}
  {{!-- <div id="container"> --}}
    {{#each posts}}
      {{> post-details}}
    {{/each}}
  {{!-- </div> --}}

  <a href="/new-post">New Post</a>
{{else}}
  <a href="/login">You must be logged in to see your posts.</a>
{{/if}}

{{!--
<script src="/js/dashboard.js"></script> --}}