<h1>Dashboard</h1>
{{#each posts}}
<div id="newPost">
<h1>
  {{title}}
</h1>
<p>{{description}}</p>
<p>{{format_time date_created}}</p>
<p>{{username}}</p>
</div>
{{/each}}

<a href="/new-post">New Post</a>

{{!-- <script src="/js/dashboard.js"></script> --}}