<h1>New Post Page</h1>

<form class="newpost-form">
  <p>Title:</p>
  <input type="text" id="title">
  <p>Description:</p>
  <input type="text" id="description">
  <button type="submit">Post</button>
</form>

<script src="/js/new-post.js"></script>