<div class="post">
  <form class="edit-post-form">
    <p>Edit title:</p>
  <input id="edit-title" type="text" value="{{post.title}}">
  <p>Edit description:</p>
  <input id="edit-description" type="text" value="{{post.description}}">
  <button type="submit">Finish</button>
  </form>
</div>

<script src="/js/edit-post.js"></script>