<form class="signup-form">
  <p>Username:</p>
  <input type="text" id="signup-username">
  <p>Password:</p>
  <input type="password" id="signup-password">
  <button type="submit">Sign Up</button>
</form>

<script src="/js/signup.js"></script>